.App{
    text-decoration: none;
}
.unAnsweredQuestion{
    text-decoration: none;
}

.container{
    padding-top: 200px;
}

.questionCard{
    padding-top: 50px;
}

.cardDetail{
    margin-bottom: 40px;
    /* background-color: #D3D3D3; */
}

.link{
    text-decoration: none;
    color: inherit;
}